<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
   <!-- styling with bootstrap here!!! -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    {{user_id}}
    <div style="margin-left:60px; width: 200px; vertical-align: top; display: inline-block;">
      <h1>Sign Up Here</h1>
      <form action="{% url 'user:sign_up' %}" method="POST">
        {% csrf_token %}
              Name: <input type="text" name="name" required ><p></p>
              Username: <input type="text" name="username" required ><p></p>
              Password: <input type="password" name="password" required ><p></p>              
              Confirm Password: <input type="password" name="confirm_password" required ><p></p>
              <p>Password must be at least 8 characters!!</p>
              <input type="submit" value="Sign Up" >
        {% if messages %}
          {% for message in messages %}
            {% if 'sign_up' in message.tags %}
               <p>{{message}}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </form>
    </div>

    <div style="margin-left:60px; width: 200px; vertical-align: top; display: inline-block;">
      <h1>Log In Here</h1>
      <form action="{% url 'user:log_in' %}" method="POST">
        {% csrf_token %}
        Username: <input type="text" name="username" required > <br>
        Password: <input type="password" name="password" required > <br>
        <input type="submit" value="Log In!">
        {% if messages %}
          {% for message in messages %}
            {% if 'log_in' in message.tags %}
                <p>{{message}}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      </form>
    </div>

  </body>
</html>

